<div class="active">
    <div class="card-wrap content resume">
       <div class="title"><span class="first-word">Education</span> History</div>
       <div class="row">
          <div class="col col-d-12 border-line-v">
             <div class="resume-title border-line-h">
                <div class="resume-items">
                   <div class="resume-item border-line-h">
                      <div class="date">2000</div>
                      <div class="name">Bachelor of Science</div>
                      <div class="company">University of Houston</div>
                      <ul>
                         <li>Programmed in C, C++, Visual Basic, PHP, HTML</li>
                         <li>Manipulated and maintained databases in MySQL, Access and Oracle 8i.</li>
                         <li>Gained insight into programming and logic that would make it easy for me to pick up new programming languages, tools and/or applications</li>
                      </ul>
                   </div>
                   <div class="resume-item border-line-h">
                      <div class="date">2016</div>
                      <div class="name">Java Dev Certification</div>
                      <div class="company">Houston Community College</div>
                      <ul>
                         <li>Learnt the fundamentals of object-oriented programming in a Java Environment.</li>
                         <li>Worked with JavaScript, AngularJS, Mavn and Spring to understand web application processes.</li>
                         <li>Completed numerous projects for the web and desktop.</li>
                      </ul>
                   </div>
                   <div class="resume-item border-line-h">
                      <div class="date">2017</div>
                      <div class="name">Full Stack Developer Bootcamp</div>
                      <div class="company">University of Texas</div>
                      <ul>
                         <li>Lerned to create and deploy projects using modern JS Frameworks like React</li>
                         <li>Mastered version control in GitHub in a collaborative environment</li>
                         <li>Worked with other developers to create web applications using HTML5, CSS3, Node.js, Express, Firebase, MongoDB, MySQL, Heroku, Passport, Google OAuth2, and more.</li>
                      </ul>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>