   <div class="card-wrap">
      <div class="content about">
         <div class="title">About Me</div>
         <div class="row">
            <div class="col col-d-12 col-t-12 col-m-12 border-line-v">
               <div class="text-box">
                  <p>I'm Jacob Thomas, a web developer in Houston, TX. You might find me enjoying myself for hours in a coffee shop while I try to figure out why a section of code isn't working exactly the way I want. While I'm not the fastest or the smartest programmer, I make up for those qualities with my resourcefulness and perseverance. Be on the lookout for beautiful and useful web applications from me.</p>
               </div>
            </div>
         </div>
      </div>
      <div>
         <div class="content fuct">
            <div class="title">Frontend</div>
            <div class="row fuct-items">
               <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                  <div class="fuct-item">
                     <div class="icon">
                        <i class="devicon-bootstrap-plain"></i>

                        <!-- <span class="fab fa-bootstrap"></span> Font Awesome fontawesome.com -->
                     </div>
                     <div class="name">Bootstrap</div>
                  </div>
               </div>
               <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                  <div class="fuct-item">
                     <div class="icon">
                        <i class="devicon-react-original"></i>

                        <!-- <span class="fab fa-react"></span> Font Awesome fontawesome.com -->
                     </div>
                     <div class="name">React</div>
                  </div>
               </div>
               <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                  <div class="fuct-item">
                     <div class="icon"><span class="devicon-foundation-plain"></span></div>
                     <div class="name">Foundation</div>
                  </div>
               </div>
               <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                  <div class="fuct-item">
                     <div class="icon">
                        <i class="devicon-css3-plain"></i>
                        <!-- <span class="fab fa-css3-alt"></span> Font Awesome fontawesome.com -->
                     </div>
                     <div class="name">CSS</div>
                  </div>
               </div>
               <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                  <div class="fuct-item">
                     <div class="icon">
                        <i class="devicon-sass-original"></i>
                        <!-- <span class="fab fa-sass"></span> Font Awesome fontawesome.com -->
                     </div>
                     <div class="name">SASS</div>
                  </div>
               </div>
               <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                  <div class="fuct-item">
                     <div class="icon"><span class="devicon-jquery-plain"></span></div>
                     <div class="name">jQuery</div>
                  </div>
               </div>
               <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                  <div class="fuct-item">
                     <div class="icon"><span class="devicon-handlebars-plain"></span></div>
                     <div class="name">Handlebars</div>
                  </div>
               </div>
               <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                  <div class="fuct-item">
                     <div class="icon"><span class="devicon-javascript-plain"></span></div>
                     <div class="name">Javascript</div>
                  </div>
               </div>
               <div class="clear"></div>
            </div>
         </div>
         <div class="content fuct">
            <div class="title">Backend</div>
            <div class="row fuct-items">
               <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                  <div class="fuct-item">
                     <div class="icon"><span class="devicon-nodejs-plain"></span></div>
                     <div class="name">NodeJS</div>
                  </div>
               </div>
               <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                  <div class="fuct-item">
                     <div class="icon"><span class="devicon-express-original"></span></div>
                     <div class="name">Express</div>
                  </div>
               </div>
               <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                  <div class="fuct-item">
                     <div class="icon"><span class="devicon-php-plain"></span></div>
                     <div class="name">PHP</div>
                  </div>
               </div>
               <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                  <div class="fuct-item">
                     <div class="icon"><span class="devicon-c-plain"></span></div>
                     <div class="name">C</div>
                  </div>
               </div>
               <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                  <div class="fuct-item">
                     <div class="icon"><span class="devicon-cplusplus-plain"></span></div>
                     <div class="name">C++</div>
                  </div>
               </div>
               <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                  <div class="fuct-item">
                     <div class="icon"><span class="devicon-npm-original-wordmark"></span></div>
                     <div class="name">NPM</div>
                  </div>
               </div>
               <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                  <div class="fuct-item">
                     <div class="icon"><span class="devicon-mysql-plain"></span></div>
                     <div class="name">MySQL</div>
                  </div>
               </div>
               <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                  <div class="fuct-item">
                     <div class="icon"><span class="devicon-heroku-plain"></span></div>
                     <div class="name">Heroku</div>
                  </div>
               </div>
               <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                  <div class="fuct-item">
                     <div class="icon"><span class="devicon-webpack-plain"></span></div>
                     <div class="name">Webpack</div>
                  </div>
               </div>
               <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                  <div class="fuct-item">
                     <div class="icon"><span class="devicon-java-plain"></span></div>
                     <div class="name">Java</div>
                  </div>
               </div>
               <div class="clear"></div>
            </div>
         </div>
         <div class="content fuct">
            <div class="title">Design</div>
            <div class="row fuct-items">
               <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                  <div class="fuct-item">
                     <div class="icon"><span class="devicon-photoshop-plain"></span></div>
                     <div class="name">Photoshop</div>
                  </div>
               </div>
               <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                  <div class="fuct-item">
                     <div class="icon"><span class="devicon-illustrator-plain"></span></div>
                     <div class="name">Illustrator</div>
                  </div>
               </div>
               <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                  <div class="fuct-item">
                     <div class="icon"><span class="devicon-gimp-plain"></span></div>
                     <div class="name">Gimp</div>
                  </div>
               </div>
               <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                  <div class="fuct-item">
                     <div class="icon"><span class="devicon-figma-plain"></span></div>
                     <div class="name">Figma</div>
                  </div>
               </div>
               <div class="clear"></div>
            </div>
         </div>
         <div class="content fuct">
            <div class="title">More</div>
            <div class="row fuct-items">
               <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                  <div class="fuct-item">
                     <div class="icon"><span class="devicon-git-plain"></span></div>
                     <div class="name">Git</div>
                  </div>
               </div>
               <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                  <div class="fuct-item">
                     <div class="icon"><span class="devicon-firebase-plain"></span></div>
                     <div class="name">Firebase</div>
                  </div>
               </div>
               <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                  <div class="fuct-item">
                     <div class="icon"><span class="devicon-bash-plain"></span></div>
                     <div class="name">Linux CLI</div>
                  </div>
               </div>
               <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                  <div class="fuct-item">
                     <div class="icon"><span class="devicon-visualstudio-plain"></span></div>
                     <div class="name">VS Code</div>
                  </div>
               </div>
               <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                  <div class="fuct-item">
                     <div class="icon"><span class="devicon-wordpress-plain"></span></div>
                     <div class="name">CMS: Wordpress, dotCMS, MODX</div>
                  </div>
               </div>
               <div class="clear"></div>
            </div>
         </div>
      </div>
   </div>         