<div class="card-wrap">
   <div class="content works">
      <div class="title">Recent Works</div>

      <div class="row grid-items border-line-v">
         <div class="col col-d-6 col-t-6 col-m-12 grid-item design border-line-h">
            <div class="box-item" (click)="openDialog(0)">
               <div class="image">
                  <div class="has-popup-media"><img src="../../assets/images/works/easydiagnoser-framed.jpg"
                        alt="Easy Diagnoser Web Application"><span class="info"><span
                           class="ion ion-images"></span></span></div>
               </div>
               <div class="desc">Easy Diagnoser Web Application</div>
            </div>
         </div>
         <div class="col col-d-6 col-t-6 col-m-12 grid-item design border-line-h">
            <div class="box-item" (click)="openDialog(1)">
               <div class="image">
                  <div class="has-popup-media"><img src="../../assets/images/works/uth-careers-framed.jpg"
                        alt="UTHealth Careers Page Redesign"><span class="info"><span
                           class="ion ion-images"></span></span></div>
               </div>
               <div class="desc">UTHealth Careers Page Redesign</div>
            </div>
         </div>
         <div class="col col-d-6 col-t-6 col-m-12 grid-item design border-line-h">
            <div class="box-item" (click)="openDialog(2)">
               <div class="image">
                  <div class="has-popup-media"><img src="../../assets/images/works/asr-framed.jpg"
                        alt="Associated Spring Raymond Token &amp; API Integration"><span class="info"><span
                           class="ion ion-images"></span></span></div>
               </div>
               <div class="desc">Associated Spring Raymond Token &amp; API Integration</div>
            </div>
         </div>
         <div class="col col-d-6 col-t-6 col-m-12 grid-item design border-line-h">
            <div class="box-item" (click)="openDialog(3)">
               <div class="image">
                  <div class="has-popup-media"><img src="../../assets/images/works/uteap-framed.jpg"
                        alt="UTEAP Site Redesign &amp; Custom API"><span class="info"><span
                           class="ion ion-images"></span></span></div>
               </div>
               <div class="desc">UTEAP Site Redesign &amp; Custom API</div>
            </div>
         </div>
         <div class="col col-d-6 col-t-6 col-m-12 grid-item design border-line-h">
            <div class="box-item" (click)="openDialog(4)">
               <div class="image">
                  <div class="has-popup-media"><img src="../../assets/images/works/twm-framed.jpg"
                        alt="TW Metals Custom Template"><span class="info"><span class="ion ion-images"></span></span>
                  </div>
               </div>
               <div class="desc">TW Metals Custom Template</div>
            </div>
         </div>
         <div class="col col-d-6 col-t-6 col-m-12 grid-item design border-line-h">
            <div class="box-item" (click)="openDialog(5)">
               <div class="image">
                  <div class="has-popup-media"><img src="../../assets/images/works/meyer-framed.jpg"
                        alt="Meyer Now Learning System"><span class="info"><span class="ion ion-images"></span></span>
                  </div>
               </div>
               <div class="desc">Meyer Now Learning System</div>
            </div>
         </div>
         <div class="col col-d-6 col-t-6 col-m-12 grid-item design border-line-h">
            <div class="box-item" (click)="openDialog(6)">
               <div class="image">
                  <div class="has-popup-media"><img src="../../assets/images/works/leeco-framed.jpg"
                        alt="Leeco Steel Template &amp; Module Creation"><span class="info"><span
                           class="ion ion-images"></span></span></div>
               </div>
               <div class="desc">Leeco Steel Template &amp; Module Creation</div>
            </div>
         </div>
         <div class="col col-d-6 col-t-6 col-m-12 grid-item design border-line-h">
            <div class="box-item" (click)="openDialog(7)">
               <div class="image">
                  <div class="has-popup-media"><img src="../../assets/images/works/keeling-framed.jpg"
                        alt="Keeling Law Firm Redesign Implementation"><span class="info"><span
                           class="ion ion-images"></span></span></div>
               </div>
               <div class="desc">Keeling Law Firm Redesign Implementation</div>
            </div>
         </div>
         <div class="col col-d-6 col-t-6 col-m-12 grid-item design border-line-h">
            <div class="box-item" (click)="openDialog(8)">
               <div class="image">
                  <div class="has-popup-media"><img src="../../assets/images/works/bpl-framed.jpg"
                        alt="B&amp;P Littleford Redesign Implementation"><span class="info"><span
                           class="ion ion-images"></span></span></div>
               </div>
               <div class="desc">B&amp;P Littleford Redesign Implementation</div>
            </div>
         </div>
         <div class="col col-d-6 col-t-6 col-m-12 grid-item design border-line-h">
            <div class="box-item" (click)="openDialog(9)">
               <div class="image">
                  <div class="has-popup-media"><img src="../../assets/images/works/gifs-queen-framed.jpg"
                        alt="GifTastic Web Application"><span class="info"><span class="ion ion-images"></span></span>
                  </div>
               </div>
               <div class="desc">GifTastic Web Application</div>
            </div>
         </div>
         <div class="col col-d-6 col-t-6 col-m-12 grid-item design border-line-h">
            <div class="box-item" (click)="openDialog(10)">
               <div class="image">
                  <div class="has-popup-media"><img src="../../assets/images/works/anime-trivia-framed.jpg"
                        alt="Easy Diagnoser"><span class="info"><span class="ion ion-images"></span></span></div>
               </div>
               <div class="desc">Easy Diagnoser</div>
            </div>
         </div>
         <div class="clear"></div>
      </div>
   </div>
</div>