
      <div class="page new-skin">
         <div class="preloader" style="display: none;">
            <div class="centrize full-width">
               <div class="vertical-center">
                  <div class="spinner" style="display: none;">
                     <div class="double-bounce1"></div>
                     <div class="double-bounce2"></div>
                  </div>
               </div>
            </div>
         </div>
         <div class="background gradient">
            <ul class="bg-bubbles">
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
            </ul>
         </div>
         <noscript>You need to enable JavaScript to run this app.</noscript>

        <div class="container opened" >
            <app-menu></app-menu>
            <app-intro></app-intro>
            <div class="card-inner" [@slideInOut]>
               <router-outlet></router-outlet>
            </div>
        </div>

      </div>