   <div class="card-wrap content resume">
       <div class="title"><span class="first-word">Experience</span> List</div>
       <div class="row">
          <div class="col col-d-12 border-line-v">
             <div class="resume-title border-line-h">
                <div class="resume-items">
                   <div class="resume-item border-line-h">
                      <div class="date">Nov 2016 - Present</div>
                      <div class="name">UTHealth</div>
                      <div class="company">Web Developer</div>
                      <ul>
                         <li>Implement sites and pages in dotCMS using HTML, CSS, and JavaScript, XML and JSON.</li>
                         <li>Utilize Foundation, Bootstrap, and JQuery </li>
                         <li>Write and maintain NodeJS API for external clients</li>
                         <li>Ensure compliance with the latest accessibility and UTHealth brand standards.</li>
                         <li>Design micro-sites and print material in Adobe Illustrator and Photoshop.</li>
                      </ul>
                   </div>
                   <div class="resume-item border-line-h">
                      <div class="date">Sep 2019 – Jan 2021</div>
                      <div class="name">Top Spot</div>
                      <div class="company">Web Production Developer</div>
                      <ul>
                         <li>Diagnose and resolve issues on client sites using PHP, HTML, CSS, SQL and JavaScript.</li>
                         <li>Create custom scripts and utilize existing front-end libraries like Datatable, SnazzyMaps, MixItUp to create new web-based tools and applications.</li>
                         <li>Extend functionality of existing sites by integrating 3rd party RESTful API’s of Salesforce, Hubspot, Google and more</li>
                      </ul>
                   </div>
                   <div class="resume-item border-line-h">
                      <div class="date">Feb 2015 – Sep 2016</div>
                      <div class="name">IT6sNow.com</div>
                      <div class="company">Webmaster</div>
                      <ul>
                         <li>Redesigned and maintained site to reflect modern design language</li>
                         <li>Designed pages using Adobe Illustrator and Photoshop</li>
                         <li>Programmed site using HTML, CSS for design and jQuery for animations</li>
                         <li>Implemented custom look in Weebly CMS</li>
                      </ul>
                   </div>
                   <div class="resume-item border-line-h">
                      <div class="date">Feb 2011 – Dec 2016</div>
                      <div class="name">Montrose Bags</div>
                      <div class="company">Web Developer</div>
                      <ul>
                         <li>Utilized open-source technologies to create responsive websites</li>
                         <li>Designed and programmed E-commerce sites in PHP &amp; MySQL</li>
                         <li>Ensured proper configuration maintenance of Apache server</li>
                      </ul>
                   </div>
                   <div class="resume-item border-line-h">
                      <div class="date">Nov 2005 – Jan 2011</div>
                      <div class="name">Bag Republic LLC</div>
                      <div class="company">Webmaster</div>
                      <ul>
                         <li>Used Photoshop and Dreamweaver to design and implement custom templates for osCommerce based shopping sites</li>
                         <li>Utilized Linux, Apache, PHP and MySQL stack to create custom widgets and ensured ongoing functionality for the site</li>
                      </ul>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
